html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: 0 !important;

  > * {
    flex: 1;
    overflow: overlay;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &.grid {
      > * {
        @media (min-width: 768px) {
          min-height: 0;
          display: flex;
          flex-direction: column;
        }
        > * {
          flex: unset;
        }
      }
    }
  }
}

.Files {
  &__file {
    &:nth-child(2n) {
      background: #eee;
    }
    &:hover {
      background: #ddf;
    }
    &.selected {
      background: repeating-linear-gradient(
        45deg,
        var(--bs-primary-bg-subtle),
        var(--bs-primary-bg-subtle) 10px,
        var(--bs-primary-border-subtle) 10px,
        var(--bs-primary-border-subtle) 20px
      );
    }

    &name {
      font-weight: bold;
    }
    &size {
      color: gray;
    }
  }
}

.scrollable {
  overflow: auto;
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    /* Shadows */
    radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;

  background-repeat: no-repeat;
  background-size:
    100% 40px,
    100% 40px,
    100% 14px,
    100% 14px;
  background-attachment: local, local, scroll, scroll;
}
